:host {
  font-family: system-ui;
  min-height: 44px;
  overflow: visible;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 68px;
  z-index: 2147483647;
}
._mv_container {
  clip: rect(0px, 10000px, 44px, 0px);
  position: absolute;
  height: 44px;
}

._mv_button-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  height: 32px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: -32px;
  transition: top .3s;
}

._mv_custom-button-wrapper {
  box-sizing: border-box;
  overflow: visible;
  pointer-events: none;
}

._mv_custom-button {
  background: linear-gradient(rgba(103,105,105,0.7),
                              rgba(68,70,71,0.7));
  border-radius: 16px;
  font-size: 0px;
  line-height: 32px;
  pointer-events: initial;
  white-space: nowrap;
  margin: 0 2px;
}

._mv_custom-button:hover {
  background: linear-gradient(rgba(126, 199, 249,0.8),
                            rgba(1, 153, 255,0.8));
}

._mv_custom-button[active] {
  background: #0199FF !important;
}

._mv_custom-button-contents {
  align-items: center;
  display: inline-flex;
  height: 32px;
  justify-content: center;
  pointer-events: none;
  vertical-align: middle;
}

._mv_custom-button-image {
  width: 32px;
}

._mv_custom-button-image ._mv_image {
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  height: 16px;
  width: 20px;
}

._mv_custom-button-text {
  color: white;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  transition: all .2s;
}

._mv_custom-button-text[enabled] {
  max-width: 999px;
  opacity: 1;
  padding: 0 10px 0 0;
  transition: all .2s;
}

._mv_custom-button[active][hovered] ._mv_custom-button-image ._mv_image:not(.animating) {
  background-image: -webkit-image-set(
      url(expand-buttonx16.png) 1x,
      url(expand-buttonx16.png) 2x
  ) !important;
}

._mv_custom-button[inactive] {
  background: linear-gradient(rgba(103,105,105,0.25),
                              rgba(68,70,71,0.25)) !important;
}

._mv_custom-button[inactive] ._mv_custom-button-contents {
  opacity: 0.25;
}

._mv_custom-button[disabled] {
  display: none;
}

._mv_button-container.visible {
  top: 12px;
}

._mv_button-container.hide {
  visibility: hidden;
}